.app {
  width: 100vw;
  height: 100vh;
  background: #eee;
}

.header {
  background: #fff;
  padding: 16px 20px;
  border-bottom: 1px solid #ddd;
}

.headerText {
  color: #000;
  font-weight: bold;
  font-size: 1.2em;
  margin: 0;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 20px;
}

.form {
  background: #fff;
  padding: 16px 20px;
  border-bottom: 1px solid #ddd;
  border-radius: 4px;
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  gap: 8px;
}

.error {
  background: #faa;
  border: 1px solid #f00;
  color: rgb(173, 0, 0);
  font-weight: bold;
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  padding: 8px;
  text-align: center;
}

.info {
  background: #D1D1D1;
  border: 1px solid #333;
  font-weight: bold;
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  padding: 8px;
  text-align: center;
}

.formTitle {
  font-size: 1.1em;
  font-weight: bold;
  margin: 0;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: 100%;
}

.labelText {
  font-size: 0.8em;
  font-weight: bold;
  margin: 0;
}

.input {
  padding: 12px;
  border: 1px solid #ccc;
  width: 100%;
}

.button {
  padding: 8px 16px;
  background-color: rgb(129, 41, 217);
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-weight: bold;
}

.button:hover {
  background-color: rgb(147, 75, 220);
}

.button[disabled] {
  opacity: 0.3;
}

.appointmentsContainer {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.appointmentsTitle {
  text-align: center;
}

.appointments {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.appointment {
  width: 100%;
  padding: 12px;
  background: #ddd;
  border-radius: 4px;
}
